#section1{display: block}
#section2{display: none}

#section1 {text-align: center;}
#section2 {text-align: center;}

body {
    background-image: url(./images/background.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

#saludo {
    margin: auto;
    width: 1000px;
}

#pokebola1 {
    margin: auto;
    width: 400px;
    height: 400px;
    cursor: pointer;
}

.pokebola1:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20% {transform: translateY(-10px);}
    40% {transform: translateY(1px);}
    60% {transform: translateY(-4px);}
    80% {transform: translateY(-1px);}
}

.top-header{
    position: sticky;
    top: 0;
}

.content{
    overflow-y: scroll;
}

.logo {
    margin: auto;
    width: 350px;
    height: 150px;
}

.searching {
    width: 500px;
    height: 20px;
    border: 3px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    text-align: center
}

.searching input.icon-lupa{
    width: 50px;
    height: 50px;
    padding: 10px;
    outline: none;
}

.searching input.text {
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 28px;
    padding-left: 10px;
}

.icon-menu {
    float: left;
    margin: 10px;
}

.icon-pokebola {
    float: right;
    margin: 10px;
    cursor: pointer;
}

.icon-info {
    float: right;
    margin: 10px;
}

[class^='icon-']{
    width: 60px;
    height: 60px;
}

.pocket_Container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.poke-Number{
    margin: auto;
    text-align: left;
}

.card {
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 288px;
    height: 371px;
    background: #ffffff;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    cursor: pointer;
}

.card:hover {
    animation: bounce 0.5s linear;
}

@keyframes bounce {
    20% {transform: translateY(-10px);}
    40% {transform: translateY(1px);}
    60% {transform: translateY(-4px);}
    80% {transform: translateY(-1px);}
}

.border-small {
    height: 350px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
}

.description {
    padding: 2px;
    margin: auto;
    width: 255px;
    height: 117px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.img-container {
    margin-top: 20px;
    height: 120px;
    width: 120px;
}