#section1{display: block}
#section2{display: none}

#section1 {text-align: center;}
#section2 {text-align: center;}

body {
    background-image: url(./images/background.gif);
    background-size: cover;
    height: 100vh;
}

#saludo {
    margin: auto;
    width: 1000px;
}

#pokebola1 {
    margin: auto;
    width: 400px;
    height: 400px;
}

.logo {
    margin: auto;
    width: 350px;
    height: 150px;
}

[class^='icon-']{
    width: 60px;
    height: 60px;
}